<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="com.web.HelloWorld">
        <property name="message" value="Hello World!"/>
    </bean>


    <bean id="accountDAO" class="com.web.dao.AccountDAO" scope="singleton">
        <property name="dataSource" ref="dsource"/>
        <property name="message" value="Hello there"/>
    </bean>
    <bean id="userDAO" class="com.web.dao.UserDAO">
        <property name="dataSource" ref="dsource"/>

    </bean>
    <bean id="dsource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres" />
        <property name="username" value="postgres" />
        <property name="password" value="postgres" />
        <property name="initialSize" value="10" />
    </bean>

</beans>