<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

    <web-app>

    <!--<filter>
        <filter-name>keerthiLogin</filter-name>
        <filter-class>com.web.keerthi.LoginFilter</filter-class>
    </filter>-->
   <!-- <filter>
        <filter-name>keerthiPassword</filter-name>
        <filter-class>com.web.keerthi.FilterTwo</filter-class>
    </filter>-->

    <filter>
        <filter-name>userNameCheckFilter</filter-name>
        <filter-class>com.web.AccountListFilter</filter-class>
    </filter>
    <filter>
        <filter-name>testFilter</filter-name>
        <filter-class>com.web.TestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>testFilter</filter-name>
        <url-pattern>/accountListServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userNameCheckFilter</filter-name>
        <url-pattern>/accountListServlet</url-pattern>
    </filter-mapping>
    <!--<filter-mapping>
        <filter-name>keerthiLogin</filter-name>
        <url-pattern>/loginServlet</url-pattern>
    </filter-mapping>-->
   <!-- <filter-mapping>
        <filter-name>keerthiPassword</filter-name>
        <url-pattern>/signupFilter</url-pattern>
    </filter-mapping>
-->



    <servlet>
        <servlet-name>createAccountAmar</servlet-name>
        <servlet-class>com.web.CreateAccountServletAmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findBalanceAmar</servlet-name>
        <servlet-class>com.web.FindBalanceServletAmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountDepositAmar</servlet-name>
        <servlet-class>com.web.depositServletAmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAccountAmar</servlet-name>
        <servlet-class>com.web.DeleteAccountServletAmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAccount</servlet-name>
        <servlet-class>com.web.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findAccountBalance</servlet-name>
        <servlet-class>com.web.FindBalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeerthiCreateAccount</servlet-name>
        <servlet-class>com.web.KeerthiCreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeerthiReadData</servlet-name>
        <servlet-class>com.web.KeerthiReadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeerthiUpdate</servlet-name>
        <servlet-class>com.web.KeerthiUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeerthiDelete</servlet-name>
        <servlet-class>com.web.KeerthiDeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KeeCreate</servlet-name>
        <servlet-class>com.web.keerthi.KeerthiCreate</servlet-class>
    </servlet>




    <servlet-mapping>
        <servlet-name>createAccountAmar</servlet-name>
        <url-pattern>/createAmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findBalanceAmar</servlet-name>
        <url-pattern>/findBalanceAmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountDepositAmar</servlet-name>
        <url-pattern>/makeDepositAmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAccountAmar</servlet-name>
        <url-pattern>/makeDeleteAmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAccount</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findAccountBalance</servlet-name>
        <url-pattern>/findBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeerthiCreateAccount</servlet-name>
        <url-pattern>/KeerthiCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeerthiReadData</servlet-name>
        <url-pattern>/KeerthiRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeerthiUpdate</servlet-name>
        <url-pattern>/KeerthiUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeerthiDelete</servlet-name>
        <url-pattern>/KeerthiDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KeeCreate</servlet-name>
        <url-pattern>/keeCreate</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>keerthiLogin.html</welcome-file>
    </welcome-file-list>


</web-app>

