<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
   <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>createAccountAmar</servlet-name>
        <servlet-class>com.web.CreateAccountServletAmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findBalanceAmar</servlet-name>
        <servlet-class>com.web.FindBalanceServletAmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountDepositAmar</servlet-name>
        <servlet-class>com.web.depositServletAmar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrder</servlet-name>
        <servlet-class>com.web.OrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>com.web.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createOrder</servlet-name>
        <servlet-class>com.web.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findOrderAmount</servlet-name>
        <servlet-class>com.web.FindOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateOrder</servlet-name>
        <servlet-class>com.web.UpdateOrderServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>createAccountAmar</servlet-name>
        <url-pattern>/createAmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findBalanceAmar</servlet-name>
        <url-pattern>/findBalanceAmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountDepositAmar</servlet-name>
        <url-pattern>/makeDepositAmar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrder</servlet-name>
        <url-pattern>/OrderListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/deleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createOrder</servlet-name>
        <url-pattern>/createOrder</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>updateOrder</servlet-name>
        <url-pattern>/updateOrder</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>findOrderAmount</servlet-name>
        <url-pattern>/findAmount</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>checkFilter</filter-name>
        <filter-class>com.web.CheckFilter</filter-class>
    </filter>

    <filter-mapping>
    <filter-name>checkFilter</filter-name>
    <url-pattern>/updateOrder</url-pattern>
</filter-mapping>

    <filter-mapping>
        <filter-name>checkFilter</filter-name>
        <url-pattern>/deleteOrder</url-pattern>

    </filter-mapping>

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

</web-app>
