<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <servlet>
        <servlet-name>createAccount</servlet-name>
        <servlet-class>com.web.CreateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findAccountBalance</servlet-name>
        <servlet-class>com.web.FindBalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>webSample</servlet-name>
        <servlet-class>com.web.WebSampleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deposit</servlet-name>
        <servlet-class>com.web.DepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>webBalance</servlet-name>
        <servlet-class>com.web.WebBalanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.web.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>withdraw</servlet-name>
        <servlet-class>com.web.WithdrawServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createAccount</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findAccountBalance</servlet-name>
        <url-pattern>/findBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>webSample</servlet-name>
        <url-pattern>/webSample</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deposit</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>webBalance</servlet-name>
        <url-pattern>/webBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>withdraw</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
</web-app>
